.button{
    -fx-background-radius: 15;
    -fx-background-insets: 0;
}
#redButton{
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-text-fill: white;
}
#redButton:hover{
    -fx-background-color: linear-gradient(#b50000, #590000);
    -fx-text-fill: white;
}
#greenButton{
    -fx-background-color: linear-gradient(#34eb7a, #239e52);
        -fx-text-fill: black;
}
#greenButton:hover{
    -fx-background-color: linear-gradient(#2abf63, #19783d);
        -fx-text-fill: black;
}