.button{
    -fx-background-radius: 5;
    -fx-border-color: #58e8da;
    -fx-border-radius : 5;
    -fx-border-width: 2;
    -fx-background-insets: 0;
    -fx-cursor:hand;
}
#button2{
    -fx-background-color: #7c40ad;
    -fx-text-fill: black;
}
#button2:hover{
    -fx-background-color: #6c3896;
    -fx-text-fill: black;
}
#button1{
    -fx-background-color: #40A89D;
    -fx-text-fill: black;
}
#button1:hover{
    -fx-background-color: #369188;
    -fx-text-fill: black;
}
#button3{
    -fx-background-color: #4080A8;
    -fx-text-fill: black;
}
#button3:hover{
    -fx-background-color: #387194;
    -fx-text-fill: black;
}
#button4{
    -fx-background-color: #3c9ba3;
    -fx-text-fill: black;
}
#button4:hover{
    -fx-background-color: #307e85;
    -fx-text-fill: black;
}