.button{
    -fx-background-radius: 15;
    -fx-background-insets: 0;
    -fx-cursor:hand;
}
#button2{
    -fx-background-color: #7c40ad;
    -fx-text-fill: black;
}
#button2:hover{
    -fx-background-color: #6c3896;
    -fx-text-fill: black;
}
#button1{
    -fx-background-color: #40A89D;
    -fx-text-fill: black;
}
#button1:hover{
    -fx-background-color: #369188;
    -fx-text-fill: black;
}