.combo-box{
    -fx-background-color:transparent;
        -fx-background-radius : 30px;
        -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
        -fx-text-fill: black;
}
.combo-box .list-cell{
    -fx-background-color:transparent;
    -fx-background-radius : 30px;
    -fx-text-fill: black;
    -fx-font-size: 16;
}
.combo-box .list-view{
    -fx-background-color:transparent;
}
#combo-box-1{
    -fx-background-color:
        #f0ff35;
    -fx-background-radius : 30px;
}
#combo-box-1 .list-view{
-fx-background-radius : 15px;
    -fx-background-color:
        #d2de33;
}
#combo-box-1 .list-cell:hover{
    -fx-background-color:
        #bcc72c;
}
#combo-box-2{
    -fx-background-color:
        #c3c4c4;
    -fx-background-radius : 30px;
}
#combo-box-2 .list-view{
-fx-background-radius : 15px;
    -fx-background-color:
        #a9abab;
}
#combo-box-2 .list-cell:hover{
    -fx-background-color:
        #8b8c8c;
}
#combo-box-3{
    -fx-background-color:
        #FFD58C;
    -fx-background-radius : 30px;
}
#combo-box-3 .list-view{
-fx-background-radius : 15px;
    -fx-background-color:
        #e6bf7c;
}
#combo-box-3 .list-cell:hover{
    -fx-background-color:
        #cca96c;
}
#combo-box-4{
    -fx-background-color:
         #a4edb7;
    -fx-background-radius : 30px;
}
#combo-box-4 .list-view{
-fx-background-radius : 15px;
    -fx-background-color:
         #96d9a7;
}
#combo-box-4 .list-cell:hover{
    -fx-background-color:
        #82bf92;
}