.dialog-pane {
    -fx-background-color: #4080A8;
    -fx-border-radius: 30px;
}

.dialog-pane .label {
    -fx-text-fill: white;
}

.dialog-pane:header .header-panel {
    -fx-background-color: #4080A8;
    -fx-border-radius: 30px;

}

.dialog-pane:header .header-panel .label {
    -fx-font-size: 18;
}
.dialog-pane .button{
   -fx-background-radius: 5;
   -fx-background-insets: 0;
   -fx-background-color: #40A89D;
   -fx-text-fill: black;
   -fx-cursor:hand;
 }