.text-area{
    -fx-font-size: 18;
    -fx-letter-spacing: 0.5px;
    -fx-line-height: 21px;
    -fx-border-width: 2px;
}

#header{
    text-area-background: #4080A8;
    -fx-font-family: "trebuchet MS", sans-serif;
    -fx-text-fill: white;
}

#genCodeBackground{
    text-area-background: #0a0d24;
    -fx-background-color: #000000;
    -fx-text-fill: #00cc1b;
    -fx-font-family: "consolas", sans-serif;
    -fx-line-height: 21px;
}
#genCodeBorder{
    -fx-background-radius: 5;
    -fx-border-color: #58e8da;
    -fx-border-radius : 5;
    -fx-border-width: 3;
    -fx-background-color: #000000;
}
.text-area .content {
    -fx-background-color: text-area-background;
}