<!--EN FUNCTION NAME HAY QUE PONER TAMBIÉN LOS PARAMS Y PARENTESIS-->
<p>{{functionName}}</p>
<!--TODO: Poder tomar varios valores-->
<p>&emsp;if {{baseCase}} then:<br>&emsp;&emsp;return {{returnValue}}</p>
<!--Aplicar el mismo concepto a recursiveCases-->
<p>&emsp;{{recursiveCases}} </p>
<p>{{auxFunctions}}</p>