<p>{{functionName}}</p>
<!--TODO: Poder tomar varios valores-->
<p>&emsp;{{baseCase}} then:<br>&emsp;&emsp; {{returnValue}}</p>
<!--Aplicar el mismo concepto a recursiveCases-->
<p>else:</p>
<p>&emsp;{{recursiveCases}} </p>
<p>{{auxFunctions}}</p>