<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>First</title>
    <style>
        .tab1 {
            margin-left: 15px;
        }

        .tab2 {
            margin-left: 30px;
        }

        .tab3 {
            margin-left: 45px;
        }
    </style>
</head>
<body>
<p>def {{diagramTitle}}({{parameters}}):</p>
<p>{</p>
    <p class="tab1">if {{baseCase}}</p>
    <p class="tab2">return {{returnValue}}</p>
    <p class="tab1">else</p>
    <p class="tab2">return {{recursiveCase}}</p>
<p>}</p>
</body>
</html>
